.questions {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows:repeat(5, 80px);
    grid-template-columns: repeat(6, 1fr);
    column-gap: 3px;
    row-gap: 3px;
    background: rgb(0, 0, 0);

    justify-content: center;
  }

 .questions > div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 29, 161);
    color: rgb(246, 177, 80);
    text-align: center;
    /*border: 3px solid black;*/

  }

  .categories > div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 29, 161);
    color:white;
    text-align: center;
}
  .categories {
    display: grid;
    grid-template-rows:repeat(1, 50px);
    grid-template-columns: repeat(6, 1fr);
    row-gap: 3px;

    /*column-gap: 6px;
    background: rgb(0, 0, 0);
    */
    
  }
  .scoreboard{
    display: flex;
    flex-direction: column;

  }
  .scoreboard > div{
        display: flex;
        flex-direction: row;
        color: white;
  }
  .scoreboard > div > h7{
        color: white;

  }
  body {
    background-color: rgba(0, 0, 0);
  }
